doctype
html
  head
    link(rel="stylesheet" href="/css/main.css")
    script(src="../bower_components/jquery/dist/jquery.min.js")
    script(src="../bower_components/bootstrap-sass/assets/javascripts/bootstrap.js")
    script(src="https://npmcdn.com/isotope-layout@3.0/dist/isotope.pkgd.js")
    script(src="../bower_components/isotope-packery/packery-mode.pkgd.js")
    script(src="/js/main.js")
  body
    != yield