.header-placeholder
// Contain all features and adjust width with media queries
.hpf-container.container-fluid
  // Add row from bootstrap
  .hpf-row.row
    // Start feature
    .hpf-feature.col-xs-12
      // Wrap image within it's relative size 
      .hpf-image-wrapper.banner
        // Image frame for potential padding
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_banner.jpg")
    .hpf-feature.col-xs-12.col-sm-6
      .hpf-image-wrapper.r2to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_banner.jpg")
    .hpf-feature.col-xs-6.col-sm-3
      .hpf-image-wrapper.r1to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_r1to1.jpg")
    .hpf-feature.col-xs-6.col-sm-3
      .hpf-image-wrapper.r1to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_r1to1.jpg")
    .hpf-feature.col-xs-6.col-sm-6
      .hpf-image-wrapper.r1to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_r1to1.jpg")
              
    .hpf-feature.col-xs-6.col-sm-6
      .hpf-image-wrapper.r1to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_r1to1.jpg")
    .hpf-feature.col-xs-12
      .hpf-image-wrapper.cynosure
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_cynosure.jpg")
    .hpf-feature.col-xs-6.col-sm-3
      .hpf-image-wrapper.r1to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_r1to1.jpg")
    .hpf-feature.col-xs-6.col-sm-3
      .hpf-image-wrapper.r1to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_r1to1.jpg")
    .hpf-feature.col-xs-12.col-sm-6
      .hpf-image-wrapper.r2to1
        .hpf-image-frame
          a(href="#")
            img.img-responsive(src="/img/placeholders/hpf_banner.jpg")
