.header-placeholder
div(class="container")
    div(class="row")
        div(class="text-center feature col-xs-12")
            div(class="img-wrapper ratio4-2")
              .frame
                img(src="/img/HPF_r2x1.jpg" class="img-responsive")
        div(class="col-md-3 col-sm-6 col-xs-6 feature")
            div(class="img-wrapper")
              .frame
                img(src="/img/HPF_r1x1b.jpg" class="img-responsive frame")
        div(class="col-md-3 col-sm-6 col-xs-6 feature")
            div(class="img-wrapper")
              .frame
                img(src="/img/HPF_r1x1c.jpg" class="img-responsive frame")
        div(class="text-center feature col-md-6 col-sm-6 col-xs-6")
            div(class="img-wrapper frame")
              .frame
                img(src="/img/HPF_r1x1.jpg" class="img-responsive frame")
        div(class="col-md-3 col-sm-6 col-xs-6 feature")
            div(class="img-wrapper")
              .frame
                img(src="/img/HPF_r1x1.jpg" class="img-responsive frame")
        div(class="col-md-3 col-sm-6 col-xs-6 feature")
            div(class="img-wrapper")
              .frame
                img(src="/img/HPF_r1x1b.jpg" class="img-responsive frame")
        div(class="col-md-3 col-sm-6 col-xs-12 feature")
            div(class="img-wrapper")
              .frame
                img(src="/img/HPF_r1x1c.jpg" class="img-responsive frame")
        div(class="col-md-6 col-sm-12 col-xs-12 feature")
            div(class="img-wrapper ratio2-1")
              .frame
                img(src="/img/HPF_r2x1.jpg" class="img-responsive frame")
        div(class="col-md-9 col-sm-12 col-xs-12 feature")
            div(class="img-wrapper ratio3-1")
              .frame
                img(src="/img/HPF_r3x1.jpg" class="img-responsive frame")
