div(class="container")
    div(class="row-fluid")
        div(class="text-center feature col-xs-12")
            div(class="img-wrapper" style="background: url('https://placehold.it/1080x270') no-repeat; background-size: 100% auto;")
        div(class="text-center feature col-xs-6")
            div(class="img-wrapper height2" style="background: url('https://placehold.it/540x540') no-repeat; background-size: 100% auto;")
        div(class="col-xs-3 feature")
            div(class="img-wrapper" style="background: url('https://placehold.it/270x270') no-repeat; background-size: 100% auto;")
        div(class="col-xs-3 feature")
            div(class="img-wrapper" style="background: url('https://placehold.it/270x270') no-repeat; background-size: 100% auto;")
        div(class="col-xs-3 feature")
            div(class="img-wrapper" style="background: url('https://placehold.it/270x270') no-repeat; background-size: 100% auto;")
        div(class="col-xs-3 feature")
            div(class="img-wrapper" style="background: url('https://placehold.it/270x270') no-repeat; background-size: 100% auto;")
        div(class="col-xs-3 feature")
            div(class="img-wrapper height2" style="background: url('https://placehold.it/270x540') no-repeat; background-size: 100% auto;")
        div(class="col-xs-3 feature")
            div(class="img-wrapper" style="background: url('https://placehold.it/270x270') no-repeat; background-size: 100% auto;")
        div(class="col-xs-6 feature")
            div(class="img-wrapper" style="background: url('https://placehold.it/540x270') no-repeat; background-size: 100% auto;")
        div(class="col-xs-9 feature")
            div(class="img-wrapper last" style="background: url('https://placehold.it/810x270') no-repeat; background-size: 100% auto;")
