div(class="container")
    div(class="row")
        div(class="text-center feature col-xs-12")
            div(class="img-wrapper ratio4-1")
                img(src="https://placehold.it/1080x270" class="img-responsive")
        div(class="text-center feature col-md-6 col-sm-6 col-xs-12")
            div(class="img-wrapper")
                img(src="https://placehold.it/540x540" class="img-responsive")
        div(class="col-md-3 col-sm-3 col-xs-6 feature")
            div(class="img-wrapper")
                img(src="https://placehold.it/270x270" class="img-responsive")
        div(class="col-md-3 col-sm-3 col-xs-6 feature")
            div(class="img-wrapper")
                img(src="https://placehold.it/270x270" class="img-responsive")
        div(class="col-md-3 col-sm-3 col-xs-6 feature")
            div(class="img-wrapper")
                img(src="https://placehold.it/270x270" class="img-responsive")
        div(class="col-md-3 col-sm-3 col-xs-6 feature")
            div(class="img-wrapper")
                img(src="https://placehold.it/270x270" class="img-responsive")
        div(class="col-md-3 col-sm-3 col-xs-6 feature")
            div(class="img-wrapper ratio1-2")
                img(src="https://placehold.it/270x540" class="img-responsive")
        div(class="col-md-3 col-sm-3 col-xs-6 feature")
            div(class="img-wrapper")
                img(src="https://placehold.it/270x270" class="img-responsive")
        div(class="col-md-6 col-sm-6 col-xs-12 feature")
            div(class="img-wrapper ratio2-1")
                img(src="https://placehold.it/540x270" class="img-responsive")
        div(class="col-md-9 col-sm-9 col-xs-12 feature")
            div(class="img-wrapper ratio3-1")
                img(src="https://placehold.it/810x270" class="img-responsive")
