div(class="container")
    div(class="row")
        div(class="row")
            div(class="text-center feature feature--full col-xs-12")
                div(class="img-wrapper")
                    img(src="https://placehold.it/1080x270" class="img-responsive")
        div(class="row")
            div(class="text-center feature feature--width2 col-md-6 col-sm-12 ")
                div(class="img-wrapper height2")
                    img(src="https://placehold.it/540x540" class="img-responsive")
            div(class="col-md-3  col-sm-6 feature")
                div(class="img-wrapper")
                    img(src="https://placehold.it/270x270" class="img-responsive")
            div(class="col-md-3 col-sm-6 feature")
                div(class="img-wrapper")
                    img(src="https://placehold.it/270x270" class="img-responsive")
            div(class="col-md-3 col-sm-6 feature")
                div(class="img-wrapper")
                    img(src="https://placehold.it/270x270" class="img-responsive")
            div(class="col-md-3 col-sm-6 feature")
                div(class="img-wrapper")
                    img(src="https://placehold.it/270x270" class="img-responsive")
        div(class="row")
            div(class="col-md-3 feature")
                div(class="img-wrapper height2")
                    img(src="https://placehold.it/270x540" class="img-responsive")
            div(class="col-md-3 feature")
                div(class="img-wrapper")
                    img(src="https://placehold.it/270x270" class="img-responsive")
            div(class="col-md-6 feature feature--width2")
                div(class="img-wrapper")
                    img(src="https://placehold.it/540x270" class="img-responsive")
            div(class="col-md-9 feature feature--width3 feature--width3")
                div(class="img-wrapper last")
                    img(src="https://placehold.it/810x270" class="img-responsive")
