.header-placeholder {
  min-height: 50px;
}

.feature {
  padding: 0px!important;
  margin: 0px!important;
}

.img-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  img {
    position: absolute;
    height: 100%;
    outline: 2px solid #fff;
  }
}

.img-wrapper.ratio1-2 {
  padding-bottom: 200%;
}

.img-wrapper.ratio2-1 {
  padding-bottom: 50%;
}

.img-wrapper.ratio3-1 {
  padding-bottom: 33.33%;
}

.img-wrapper.ratio4-1 {
  padding-bottom: 25%;
}

.img-wrapper.ratio4-2 {
  padding-bottom: 50%;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .header-placeholder {
    min-height: 50px;
  }
}

/* Medium devices (desktops, 992px and up) */
@media (min-width: $screen-md-min) {
  .header-placeholder {
    min-height: 205px;
  }
}

/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  .header-placeholder {
    min-height: 205px;
  }
}
