// Imitate header height
.header-placeholder {
  min-height: 50px; // Mobile
}

/*  Homepage Features
 *  1. Container
 *  2. Row
 *  3. Feature
 *  4. Image Wrapper
 *  5. Image Frame
 */

/*  1. Container
 *  Manage width of homepage features
 */

.hpf-container.container-fluid {
  max-width: 768px;
}

/*  2. Row
 *
 */

.hpf-row.row {

}

/*  3. Feature
 *  Feature display options are specified here (margins between features, for example)
 */

.hpf-feature {
  padding: 0px;
  margin: 0px;
}

/*  4. Image Wrapper
 *
 */

.hpf-image-wrapper {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  position: relative;
  .frame {
    padding: 1em;
  }
  img {
    position: absolute;
    height: 100%;
    outline: 2px solid #fff;
  }
  /*  Feature Size
   *  Using 12-column grid for reference, where full width is 12
   *  Calculate percentage by dividing the ratio as follows 12:2 or 1:6 1/6 = 16.7%
   */
  &.promo {
    padding-bottom: 16.667%;
  }
  &.banner, &.r2to1 {
    padding-bottom: 50%;
  }
  &.cynosure {
    padding-bottom: 66.67%
  }
  &.r1to1 {
    padding-bottom: 100%;
  }
}

/*  5. Image Frame
 *
 */

.hpf-image-frame {
  padding: 1em;
}

/* Small devices (tablets, 768px and up) */
@media (min-width: $screen-sm-min) {
  .header-placeholder {
    min-height: 50px;
  }
  /*  1. Container
   *  Manage width of homepage features
   */
  .hpf-container.container-fluid {
    max-width: 880px;
  }
  @media ( min-height: 768px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 900px;
    }
  }
  @media ( min-height: 1080px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 980px;
    }
  }
}

/* Medium devices (desktops, 1025px and up) */
@media ( min-width: 1025px ) {
  .header-placeholder {
    min-height: 205px;
    //min-height: 354px; // + cookies and promo
  }
  /*  1. Container
   *  Manage width of homepage features
   */
  .hpf-container.container-fluid {
    max-width: 650px;
  }
  @media ( min-height: 768px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 800px;
    }
  }
  @media ( min-height: 1080px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 980px;
    }
  }
}
/* Large devices (large desktops, 1200px and up) */
@media (min-width: $screen-lg-min) {
  /*  1. Container
   *  Manage width of homepage features
   */
  .hpf-container.container-fluid {
    max-width: 700px;
  }
  @media ( min-height: 768px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 780px;
    }
  }
  @media ( min-height: 850px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 880px;
    }
  }
  @media ( min-height: 1080px ) {
    /*  1. Container
     *  Manage width of homepage features
     */
    .hpf-container.container-fluid {
      max-width: 1080px;
    }
  }
}
